@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form {
  background: #222222b6;
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
  position: relative;
}

.login-text {
  background: hsl(40, 30, 60);
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
}

.login-text .fa-stack-1x {
  color: black;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}

.login-username:focus, .login-password:focus {
  background: white;
  color: black;
}

.login-forgot-pass {
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  opacity: 0.6;
  padding: .5rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: opacity 250ms ease-in;
}

.login-forgot-pass:hover {
  opacity: 1;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  padding: .25rem;
  transition: 250ms background ease-in;
}

.login-submit:hover, .login-submit:focus {
  background: white;
  color: black;
}

.modal-content {
  background-color: #f8f9fa; 
}

.underlay-photo {
  animation: hue-rotate 6s infinite;
  background: url('https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.underlay-black {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}
