.navbar {
    position: relative;
}

.navbar-toggler {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    --bs-navbar-brand-font-size: 2rem; /* Tamaño inicial */
}

.button {
    width: 45%;
}

.btn {
    --bs-btn-font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 1.2vw;
    }
    
    .navbar {
        --bs-navbar-brand-font-size: 2.5rem;
    }
    
    .btn {
        --bs-btn-font-size: 1.25rem;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 1.0vw;
    }
    
    .navbar {
        --bs-navbar-brand-font-size: 2.6rem;
    }
    
    .btn {
        --bs-btn-font-size: .60rem;
    }
}